In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from lxml import html

In [9]:
url="http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?stationName=%EC%9A%A9%EC%82%B0%EA%B5%AC&dataTerm=month&pageNo=1&numOfRows=10&ServiceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

In [10]:
resp = requests.get(url)
xmlobj = BeautifulSoup(resp.text,"lxml")

In [11]:
columnList = []
rowList = []
columnNameList = []
rows = xmlobj.find_all("item")

for i in range(0, len(rows)):
    columns = rows[i].find_all()
    for j in range(0, len(columns)):
        if i==0:
            columnNameList.append(columns[j].name)
        columnList.append(columns[j].text)
    rowList.append(columnList)
    columnList=[]

In [12]:
airResult = pd.DataFrame(rowList)

In [14]:
airResult.columns = columnNameList

In [15]:
airResult

,datatime,so2value,covalue,o3value,no2value,pm10value,khaivalue,khaigrade,so2grade,cograde,o3grade,no2grade,pm10grade
0,2019-07-25 18:00,0.002,0.6,0.020,0.038,35,66,2,1,1,1,2,1
1,2019-07-25 17:00,0.002,0.6,0.022,0.035,38,-,,1,1,1,2,
2,2019-07-25 16:00,0.002,0.4,0.020,0.033,21,-,,1,1,1,2,
3,2019-07-25 15:00,-,-,-,-,-,-,,,,,,
4,2019-07-25 14:00,-,-,-,-,-,-,,,,,,1
5,2019-07-25 13:00,0.002,0.5,0.014,0.036,27,59,2,1,1,1,2,1
6,2019-07-25 12:00,0.002,0.5,0.015,0.037,20,61,2,1,1,1,2,1
7,2019-07-25 11:00,0.002,0.4,0.014,0.030,16,54,2,1,1,1,1,1
8,2019-07-25 10:00,0.002,0.4,0.005,0.032,15,59,2,1,1,1,2,1
9,2019-07-25 09:00,0.002,0.4,0.003,0.027,20,64,2,1,1,1,1,1

# 1. 대기오염 나쁨관측소 정보 실습문제 정답

### 1. 라이브러리 선언

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from lxml import html

### 2. url 정보 입력

In [2]:
url="http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getUnityAirEnvrnIdexSnstiveAboveMsrstnList?pageNo=1&numOfRows=10&ServiceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

### 3. xml 태그 파싱

In [3]:
resp = requests.get(url)
xmlobj = BeautifulSoup(resp.text,"lxml")

### 4. xml 데이터 크롤링

In [4]:
columnList = []
rowList = []
columnNameList = []
rows = xmlobj.find_all("item")

for i in range(0, len(rows)):
    columns = rows[i].find_all()
    for j in range(0, len(columns)):
        if i==0:
            columnNameList.append(columns[j].name)
        columnList.append(columns[j].text)
    rowList.append(columnList)
    columnList=[]

In [5]:
airResult = pd.DataFrame(rowList)

In [6]:
airResult.columns = columnNameList

In [7]:
airResult.head(5)

  stationname                     addr
0        강변북로  서울 성동구 강변북로 257한강사업본부 옆

# 2. 쿠팡실습문제 정답

### 1. 페이지 스크랩

In [24]:
import requests
from bs4 import BeautifulSoup

alldf=[]
for i in range(0, 3):
    url = 'https://www.coupang.com/np/categories/194810?page='+str(i+1)

    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36',}
    data=requests.get(url,headers=headers)
    bsObj = BeautifulSoup(data.text, "html.parser")

    ul = bsObj.find("ul", {"id":"productList"})
    lis = ul.findAll("li")

    nameList= []
    priceList = []

    for i in range(0,len(lis)):
        step1 = lis[i].find("dt",{"class":"image"}).find("img")
        nameList.append(step1.attrs["alt"])
        step2 = lis[i].find("em",{"class","sale"})
        priceList.append(step2.find("strong").text)

    len(nameList)

    len(priceList)

    import pandas as pd
    coupResult = pd.DataFrame(zip(nameList,priceList))
    coupResult.columns = ["product_name","product_price"]
    alldf.append(coupResult)
    print(coupResult.head())

                            product_name product_price
0          더마시나 무항생제 구운계란60구, 1개, 2,100g        10,300
1  [ 계란사랑 ] 맥반석 구운계란 구운란 60구 (2판), 2700g        10,900
2               맛군 촉촉 쫄깃 구운 계란, 30알, 1박스         7,900
3           참나무촌 무염훈제계란, 30개입, 1.2kg(한판)         6,200
4          진주햄 오마이 포켓 메추리알 5p, 25g, 10개입         9,640
                                        product_name product_price
0  살림살이몰 HACCP 구운계란 3판 2판 1판 맥반석계란 구운란, 30구, 1구당 ...         7,700
1            가농금계란 DHA 오메가-3 1+등급 특란 40알, 1박스, 2.4kg        17,900
2                                 닭대리의 살균난백, 1kg, 4병        21,000
3                 탱글탱글 진공 구운계란 120g x 30팩 (90구), 90구        25,900
4                  달군스토어 [HACCP] 무항생제 구운계란, 35g, 60개        15,000
                                        product_name product_price
0                      [만나박스] 무항생제 동물복지 유정란(10구), 1팩         5,500
1                     미스터유 참숯 구운란 훈제 맥반석구운계란 60구, 대란        12,500
2              명품구운란 구운계란 맥반석계란 구운란 대란 10구 x 5개, 50구        16,900
3  [대보유통몰도리도리] 냉동 닭발 1kg 2봉 / 육수용 토종닭 닭발, 냉동 닭발 1...         8,900
4                              오랩 더 부드러운 치즈맛 오믈렛, 1개         2,170

In [28]:
alldf = pd.concat(alldf, axis=0)

### 2. 반복패턴 접근

In [ ]:
ul = bsObj.find("ul", {"id":"productList"})
lis = ul.findAll("li")

### 3. 데이터 크롤링

In [8]:
nameList= []
priceList = []

for i in range(0,len(lis)):
    step1 = lis[i].find("dt",{"class":"image"}).find("img")
    nameList.append(step1.attrs["alt"])
    step2 = lis[i].find("em",{"class","sale"})
    priceList.append(step2.find("strong").text)

len(nameList)

len(priceList)

import pandas as pd
coupResult = pd.DataFrame(zip(nameList,priceList))
coupResult.columns = ["product_name","product_price"]
coupResult.head()

                            product_name product_price
0          더마시나 무항생제 구운계란60구, 1개, 2,100g        10,300
1               맛군 촉촉 쫄깃 구운 계란, 30알, 1박스         7,900
2  [ 계란사랑 ] 맥반석 구운계란 구운란 60구 (2판), 2700g        10,900
3           참나무촌 무염훈제계란, 30개입, 1.2kg(한판)         6,200
4       오복유통 HACCP인증 구운계란 2판60구, 60구, 2판        13,500

# 3. time and date sitem

https://www.timeanddate.com/holidays/south-korea/

### 1. url 요청 및 html 파싱

In [23]:
url = "https://www.timeanddate.com/holidays/south-korea/"
resp = requests.get(url)

websource = resp.text
bsobj = BeautifulSoup(websource, "html.parser")

### 2. 헤더정보 크롤링

In [24]:
thead = bsobj.select_one("#holidays-table > thead")

In [25]:
iter_th = thead.find_all("th")

In [26]:
hcontent=[]

for th in iter_th:
    hcontent.append(th.text)

hcontent

['Date', '\xa0', 'Name', 'Type']

### 3. 데이터정보 크롤링

In [27]:
tbody = bsobj.select_one("#holidays-table > tbody")

In [28]:
iter_tr = tbody.find_all("tr")

In [29]:
content=[]
allcontent=[]

#rows = iter_tr[0]

content=[]
allcontent=[]

for rows in iter_tr:
    if rows.text=="":
        continue
    ths = rows.find_all("th")
    for th in ths:
        content.append(th.text)
    tds = rows.find_all("td")
    for td in tds:
        content.append(td.text)
    allcontent.append(content)
    content=[]

In [32]:
result = pd.DataFrame(allcontent)

In [33]:
result.columns = hcontent

In [34]:
result.head()

     Date                  Name            Type
0   1월 1일  화요일   New Year's Day  Public Holiday
1   2월 4일  월요일  Seollal Holiday  Public Holiday
2   2월 5일  화요일          Seollal  Public Holiday
3   2월 6일  수요일  Seollal Holiday  Public Holiday
4  2월 14일  목요일  Valentine's Day      Observance