### SVM(Suppoer Vector Machine)

### 고객 분류 (VIP, DIAMOND, NORMAL)

In [6]:
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

# 고객 데이터 읽어 들이기 --- (※1)
tbl = pd.read_csv("../dataset/customer.csv")


# 칼럼(열)을 자르고 정규화하기 --- (※2)
label = tbl["label"]
deposit = tbl["deposit"]  
stock = tbl["stock"] 
features = pd.concat([deposit, stock], axis=1)

# 학습 전용 데이터와 테스트 전용 데이터로 나누기 --- (※3)
data_train, data_test, label_train, label_test = train_test_split(features, label, test_size = 0.3)

tbl.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [3]:
# 데이터 학습하기 --- (※4)
model = svm.SVC()
model.fit(data_train, label_train)

# 데이터 예측하기 --- (※5)
predict = pd.DataFrame(model.predict(data_test))
#print(predict.size)
predict.columns=["predict"]
predict.head()

r = pd.concat([data_test.reset_index(drop=True), label_test.reset_index(drop=True), predict.reset_index(drop=True)], axis = 1)
r.to_csv("d:/result_customer.csv")
#print(len(r))
print(r.head())
# 결과 테스트하기 --- (※6)
ac_score = metrics.accuracy_score(label_test, predict)
cl_report = metrics.classification_report(label_test, predict)

print("Accuracy =", ac_score)
print("result =\n", cl_report)

      deposit     stock    label  predict
0  1200000000  42000000   normal   normal
1  1730000000  50000000  diamond  diamond
2  1690000000  41000000  diamond  diamond
3  1890000000  68000000      vip      vip
4  1700000000  62000000  diamond  diamond
Accuracy = 0.9891666666666666
result =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3483
     normal       1.00      0.98      0.99      1782
        vip       1.00      0.97      0.98       735

avg / total       0.99      0.99      0.99      6000

In [7]:
r.head()

      deposit     stock    label  predict
0  1200000000  42000000   normal   normal
1  1730000000  50000000  diamond  diamond
2  1690000000  41000000  diamond  diamond
3  1890000000  68000000      vip      vip
4  1700000000  62000000  diamond  diamond