### 예제 - 사칙연산

In [1]:
#파이썬 사칙연산
integer_value = 123
float_value = 12.456
float_value

12.456

In [2]:
# 1. 더하기 연산
sum = integer_value+float_value
print(sum)
# 2. 곱하기 연산
multiple = integer_value*float_value
print(multiple)
# 3. 나누기 연산
division = integer_value/float_value
division

135.456
1532.088

9.8747591522158

In [3]:
a=3
b=2.5
answer = a/b
answer

1.2

In [1]:
# 1. 더하기 연산
sum = integer_value+float_value
print(sum)
# 2. 곱하기 연산
multiple = integer_value*float_value
print(multiple)
# 3. 나누기 연산
division = integer_value/float_value
print(division)
# 4. 제곱연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)
# 5. 나머지 연산
mod = integer_value%int(float_value)
print(mod)

135.456
1532.088
9.8747591522158
144
3

### 실습 - 사칙연산

In [4]:
time = 13
minutes = 13
sumation = time+minutes
sumation

26

In [6]:
import datetime as dt

In [9]:
current_time = dt.datetime.now()
current_time

datetime.datetime(2018, 11, 13, 13, 14, 36, 673846)

In [12]:
current_hour = current_time.hour
current_minutes = current_time.minute
sumation= current_hour + current_minutes
sumation

27

In [17]:
aaa = 11.222

In [18]:
type(aaa)

float

In [2]:
time = 7
day = 12

sumation = 7+12
print(sumation)

19

In [3]:
import datetime as dt

s = dt.datetime.now()
#시간정보
time = s.hour
date = s.day

sumation = time+date
print(time, "시", date, "일" , "합계는 -> ", sumation)

21 시 25 일 합계는 ->  46